body{
    margin: 0;
    background-color: lightblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: white;
    display: flex;
    height: 800px;
    width: 800px;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
}

.item{
    border: none;
    /* border: 1px;
    border-style: solid; */
    /* border-color: rgb(100, 100, 100); */
    flex: 1;
}