body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    height: 800px;
    width: 800px;
    flex-direction: column;
}

.row{
    display: flex;
    flex: 1;
}

.item{
    border: 1px;
    border-style: solid;
    border-color: black;
    flex: 1;
}